/* RSS */
div.item h1.rss_title {
    font-size: 1.5em !important;
    margin: 0.1em;
    margin-top: 1em !important;
}



/* change sidebar font size
html {
	--pst-sidebar-font-size: 0.8em;
}

span.caption-text {
	font-size: 1.3em;
}
*/


h2 {
    padding-top: 1em !important;
    border-bottom: 1px solid grey !important;
}


.highlight {
    color: #404040 !important;
    background: #f7f7f7 !important;
}



/* Adjust selectors to match the Mystmd sidebar markup */
.myst-toc {
	font-size: 0.9em !important;
}
