img[alt*="-height:short "] {max-height:225px;}
img[alt*="-height:shorter"] {max-height:150px;}
img[alt*="-height:shortest"] {max-height:100px;}
img[alt*="-height:normal"] {max-height:340px;}
img[alt*="-height:tall"] {max-height:510px;}
img[alt*="-height:taller"] {max-height:765px;}
img[alt*="-height:tallest"] {max-height:1150px;}

img[alt*="-width:narrow"] {width:30%;}
img[alt*="-width:narrower"] {width:20%;}
img[alt*="-width:narrowest"] {width:13%;}
img[alt*="-width:normal"] {width:45%;}
img[alt*="-width:wide"] {width:60%;}
img[alt*="-width:wider"] {width:80%;}
img[alt*="-width:widest"] {width:100%;}
img[alt*="-width:full"] {width:100%;}
img[alt*="-width:half"] {width:48%;}

.highlight {
    color: #404040 !important;
    background: #f7f7f7 !important;
}

p.prev-next-title {
    font-size: 0.8em !important;
}

.admonition-stub {
    border-color:#ffddaa !important;
}
.admonition-stub .admonition-title {
    background-color: #ffddaa !important;
}
.admonition-stub .admonition-title::before {
    color: #aa9900 !important;
    content: "🔨"  !important;
}

.admonition-exercise {
    border-color:#ccddd0 !important;
}
.admonition-exercise .admonition-title {
    background-color: #ddf0e1  !important;
}
.admonition-exercise .admonition-title::before {
    color: #009911  !important;
    content: "💪"  !important;
}

.admonition-good-practice {
    border-color:#eeccee !important;
}
.admonition-good-practice .admonition-title {
    background-color: #eeddee !important;
}
.admonition-good-practice .admonition-title::before {
    color: #aa00aa !important;
    content: "☯"  !important;
}
