/* RSS */
div.item h1.rss_title {
    font-size: 1.5em !important;
    margin: 0.1em;
    margin-top: 1em !important;
}

div.item h1 {
    font-size: 1.4em !important;
    font-weight: bold;
    margin: 0.1em;
}

div.item h2 {
    font-size: 1.2em !important;
    font-weight: bold;
    margin: 0.1em;
}

div.item h3 {
    font-size: 1.1em !important;
    font-weight: bold;
    margin: 0.1em;
}

div.item h4, h5, h6, h7, h8, h9 {
    font-size: 1em !important;
    font-weight: bold;
    margin: 0.1em;
}

div.item {
    font-size: smaller;
}

.highlight {
    color: #404040 !important;
    background: #f7f7f7 !important;
}

p.prev-next-title {
    font-size: 1em !important;
}

.admonition-credits {
    border-color:#ddf0e1 !important;
}
.admonition-credits .admonition-title {
    background-color: #ddf0e1  !important;
}

.admonition-good-practice {
    border-color:#eeddee !important;
}
.admonition-good-practice .admonition-title {
    background-color: #eeddee !important;
}

p.caption {
	text-transform: none !important;
}

/* External link symbol for all external links */
a.reference.external:before {
    content: "🌎 ";
    font-size: 0.7em;
    vertical-align: middle;
}
